@model IEnumerable<SmartUniversity.Models.Department>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Success"] != null)
{
    <div class="success">
        <h3>@TempData["Success"]</h3>
    </div>
    <div class="alert alert-success alert-dismissible fade in" role="alert" style="margin-top:60px">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <strong>Data Successfully Saved</strong>
    </div>
}

<h2>Departments</h2>
<p>
    @Html.ActionLink("New Department", "Create", "Department", new { @class = "btn btn-primary" })
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var department in Model)
        {
            <tr>
                <td>@department.Code</td>
                <td>@Html.ActionLink(department.Name, "Edit", "Department", new { @id = department.Id }, null)</td>
            </tr>
        }


    </tbody>
</table>

