@model IEnumerable<SmartUniversity.Models.Department>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Departments</h2>
<p>
    @Html.ActionLink("New Department", "Create", "Department", new { @class = "btn btn-primary" })
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            @*<td>#</td>*@
            <td>Code</td>
            <td>Name</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var department in Model)
        {
            <tr>
                @*<td></td>*@
                <td>@department.Code</td>
                <td>@Html.ActionLink(department.Name, "Edit", "Department", new {@id = department.Id})</td>
            </tr>
        }


    </tbody>
</table>

